{% load static zarr_webclient %}
{% comment %}
<!--
  Override of OMERO.web's toolbar include for store-backed images.
  Classic OMERO imports keep the stock behavior; native store-backed images
  use dedicated OME-Zarr download routes and renderer-independent exports.
-->
{% endcomment %}

<script id="zarr-toolbar-selection-data" type="application/json">
[
{% for o in obj_labels %}
  {"id": {{ o.id }}, "type": "{{ o.type|lower|escapejs }}", "name": "{{ o.name|escapejs }}"}{% if not forloop.last %},{% endif %}
{% endfor %}
]
</script>
<script id="zarr-toolbar-manager-selection-data" type="application/json">
[
{% if manager.obj_type %}
  {"id": "{{ manager.obj_id|escapejs }}", "name": "{{ manager.obj_name|escapejs }}", "type": "{{ manager.obj_type|escapejs }}"}
{% endif %}
]
</script>

		    <script type="text/javascript">

		        $(document).ready(function()
	            {
	                var linkInfoQuery = "{{ link_string|default_if_none:''|escapejs }}";
	                if (linkInfoQuery) {
	                    $("#link_info_popup_string").val(
	                        location.protocol +
	                            "//" +
	                            location.host +
	                            "{{ webclient_path }}?show=" +
	                            linkInfoQuery
	                    );
	                }

                OME.initToolbarDropdowns();

                var parent = OME.getParentId();
                if (parent && parent.split('-')[0] === 'dataset') {
                    var $btn = $("#open_full_viewer");
                    $btn.prop('href', $btn.prop('href') + '?' + parent.replace('-', '='));
                }

	                var selectionNode = document.getElementById("zarr-toolbar-selection-data");
	                var selJson = selectionNode ? JSON.parse(selectionNode.textContent) : [];
	                var selectedObjs = selJson.map(function(item) {
	                    return item.type + "-" + item.id;
	                });
	                var managerSelectionNode = document.getElementById("zarr-toolbar-manager-selection-data");
	                var managerSelJson = managerSelectionNode ? JSON.parse(managerSelectionNode.textContent) : [];
	                if (managerSelJson.length) {
	                    selJson = managerSelJson;
	                    selectedObjs = managerSelJson.map(function(item) {
	                        return item.type + "-" + item.id;
	                    });
                }

                var selectedType = selectedObjs.reduce(function(prev, s){
                    return s.split('-')[0] + (selectedObjs.length > 1 ? "s" : "");
                }, "undefined");
                var shareMode = {% if share %}true{% else %}false{% endif %};

                if (!shareMode) {
                  function getOpenwithHtml() {
                    var openwith_html = WEBCLIENT.OPEN_WITH.map(function(v){
                      var label = v.label || v.id;
                      var enabled = false;
                      var tooltip = "Open " + selectedType + " with " + label;

                      if (typeof v.isEnabled === "function") {
                          enabled = v.isEnabled(selJson, function(enable) {
                            let $a = $(`#right_panel_openwith a[data-openwithid="${v.id}"]`);
                            $a.data('openwith_disabled', !enable);
                            if (!enable) {
                              $a.parent().addClass('disabled');
                            } else {
                              $a.parent().removeClass('disabled');
                            }
                          });
                      }
                      else if (typeof v.supported_objects === "object" && v.supported_objects.length > 0) {
                          enabled = v.supported_objects.reduce(function(prev, supported){
                              return prev || supported.indexOf(selectedType) > -1;
                          }, false);
                      };
                      var dtypes = selectedObjs.map(function(o){
                        return o.replace('-', '=');
                      });
                      var query = dtypes.join("&");
                      var url = v.url + "?" + query;
                      if (v.getUrl) {
                          url = v.getUrl(selJson, v.url);
                          if (typeof url === 'function') {
                            url = '#';
                          }
                      }
                      var liClass = "";
                      if (!enabled) {
                          liClass = "disabled";
                          tooltip = tooltip.replace("Open", "Cannot open");
                      }
                      var html = `
                        <li class='${ liClass }'>
                          <a title='${ tooltip }'
                            target='_blank'
                            href = '${ url }'
                            data-openwith_disabled=${ !enabled }
                            data-openwithid='${ v.id }' >
                            ${ label }
                          </a>
                        </li>
                      `;
                      return html;
                    });
                    return openwith_html.join("");
                  }

                  $("#show_openwith_menu").on('click', function() {
                    let html = getOpenwithHtml();
                    $("#right_panel_openwith").html(html);
                  });

                  $("#right_panel_openwith").on("click", "a", function (event) {
                    var $a = $(this);
                    if ($a.data('openwith_disabled')) {
                      event.preventDefault();
                      return;
                    }
                    if ($a.attr('href') === '#') {
                      event.preventDefault();
                      let openwith_id = $a.data('openwithid');
                      let ow = WEBCLIENT.OPEN_WITH.filter(o => o.id === openwith_id)[0];
                      if (ow) {
                        let fn = ow.getUrl(selJson, ow.url);
                        if (typeof fn === 'function') {
                          fn();
                        }
                      }
                    }
                  });

                  $("a[data-popup-url]").on("click", function(event) {
                    var popupUrl = $(this).attr("data-popup-url");
                    if (!popupUrl) {
                      return;
                    }
                    event.preventDefault();
                    return OME.openPopup(popupUrl);
                  });
                }
            
        });
    </script>


<div style="position:relative">

    {% if not share %}
    <button id="show_link_btn" class="btn silver btn_link" title="Link to this {{ manager.obj_type }}">
        <span></span>
    </button>
    <div id="link_info_popup" class="info_popup" style="right:0px; top:30px; padding:4px; display:none">

        <table>
          <tr><td>
            <input type="text" size="30" id="link_info_popup_string" />
          </td><td>
            <img title="Close" src="{% static 'webgateway/img/close.gif' %}" />
          </td></tr>
        </table>
    </div>
    {% endif %}

    {% if image or filesetInfo %}
    <div class="toolbar_dropdown">
        <button class="btn silver btn_download" title="Download Image as...">
            <span></span>
        </button>
        <ul class="dropdown">
            {% if image and not share and image|is_store_backed_image %}
            <li>
                <a id="download-origfile"
                  href="{% url 'zarr_download_store_original' image.id %}"
                  title="Download the original store-backed OME-Zarr">
                Download...</a>
            </li>
            <li>
              <a href="{% url 'zarr_download_store_metadata' image.id %}"
                  title="Download OME-Zarr metadata as a JSON manifest">
                Download Original Metadata
              </a>
            </li>
            {% elif canDownload %}
                {% if not share and image.getImportedFilesInfo.count %}
                  {% with filesetInfo=image.getImportedFilesInfo %}
                <li>
                    <a id="download-origfile" 
	                      {% if filesetInfo.count == 1 %}
	                        href="{% url 'archived_files' image.id %}"
	                      {% else %}
	                        href="#"
	                        data-popup-url="{% url 'download_placeholder' %}?ids=image-{{ image.id }}&fileCount={{ fileCount }}&name={{ image.name|urlencode }}"
	                      {% endif %}
	                    title="Download {{ filesetInfo.count }} original imported file{{ filesetInfo.count|pluralize:'s'}} ({{ filesetInfo.size|filesizeformat }})"
	                    >
                    Download...</a>
                </li>
                  {% endwith %}
                <li>
                  <a href="{% url 'download_orig_metadata' image.id %}"
                      title="Download Original Metadata as a text file">
                    Download Original Metadata
                  </a>
                </li>
                {% elif filesetInfo %}
                <li {% if not filesetInfo.count %}class='disabled'{% endif %}>
                  <a id="download-origfile"
                    {% if filesetInfo.count == 0 %}
                      href="#"
                    {% else %}
	                      {% if filesetInfo.count == 1 %}
	                        href="{% url 'archived_files' %}?{{ obj_string }}"
	                      {% else %}
	                        href="#"
	                        data-popup-url="{% url 'download_placeholder' %}?ids={{ link_string }}&fileCount={{ filesetInfo.count }}&index={{ index }}"
	                      {% endif %}
	                    {% endif %}
	                    title="Download {{ filesetInfo.count }} original imported file{{ filesetInfo.count|pluralize:'s'}} ({{ filesetInfo.size|filesizeformat }})"
                    >
                    Download...</a>
                </li>
                <li class="disabled">
                  <a href="#"
                      title="Download Original Metadata (for single images only)">
                    Download Original Metadata
                  </a>
                </li>
                {% else %}
                <li class="disabled">
                  <a title="No original imported files to download">Download...</a>
                </li>
                {% endif %}
            {% endif %}

        {% if not share %}
            {% if image and ome.can_create %}
                {% if image|is_store_backed_image %}
                <li>
                    <a id="download-ometiff-store-backed" href="{% url 'zarr_download_store_ome_tiff' image.id %}" 
                    title="Create OME-TIFF File for Download">Export as OME-TIFF...</a>
                </li>
                {% elif not image.requiresPixelsPyramid %}
                <li>
                    <a id="create-ometiff" href="{% url 'ome_tiff_script' image.id %}" 
                    title="Create OME-TIFF File for Download">Export as OME-TIFF...</a>
                </li>
                {% else %}
                <li class="disabled">
                    <a href="#" class="disabled"
                    title="Create OME-TIFF File for Download">Export as OME-TIFF...</a>
                </li>
                {% endif %}
            {% else %}
            <li class="disabled">
                <a href="#" class="disabled"
                title="Create OME-TIFF File for Download">Export as OME-TIFF...</a>
            </li>
            {% endif %}
        {% endif %}
            
            {% if image %}
              {% if image|is_store_backed_image %}
              <li>
                <a
                  {% if share and not share.share.isOwned %}
                      href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}"
                  {% else %}
                      href="{% url 'web_render_image_download' image.id %}"
                  {% endif %}
                  title="Download as JPEG"
                  >
                  Export as JPEG
                </a>
              </li>
              <li>
                <a
                  {% if share and not share.share.isOwned %}
                      href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}?format=png"
                  {% else %}
                      href="{% url 'web_render_image_download' image.id %}?format=png"
                  {% endif %}
                  title="Download as PNG"
                  >
                  Export as PNG
                </a>
              </li>
              <li>
                <a
                  {% if share and not share.share.isOwned %}
                      href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}?format=tif"
                  {% else %}
                      href="{% url 'web_render_image_download' image.id %}?format=tif"
                  {% endif %}
                  title="Download as TIFF"
                  >
                  Export as TIFF
                </a>
              </li>
              {% else %}
              {% with ex=canExportAsJpg %}
              <li {% if not ex %}class="disabled"{% endif %}>
                <a 
                  {% if not ex %}
                      href="#" class="disabled" title="Image is too big to download as JPEG"
                  {% else %}
                      {% if share and not share.share.isOwned %}
                          href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}"
                      {% else %}
                          href="{% url 'web_render_image_download' image.id %}"
                      {% endif %}
                      title="Download as JPEG"
                  {% endif %}
                  >
                  Export as JPEG
                </a>
              </li>
              <li {% if not ex %}class="disabled"{% endif %}>
                <a 
                  {% if not ex %}
                      href="#" class="disabled" title="Image is too big to download as PNG"
                  {% else %}
                      {% if share and not share.share.isOwned %}
                          href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}?format=png"
                      {% else %}
                          href="{% url 'web_render_image_download' image.id %}?format=png"
                      {% endif %}
                      title="Download as PNG"
                  {% endif %}
                  >
                  Export as PNG
                </a>
              </li>
              <li {% if not ex %}class="disabled"{% endif %}>
                <a
                  {% if not ex %}
                      href="#" class="disabled" title="Image is too big to download as TIFF"
                  {% else %}
                      {% if share and not share.share.isOwned %}
                          href="{% url 'web_render_image_download' share_id=share.share.id iid=image.id %}?format=tif"
                      {% else %}
                          href="{% url 'web_render_image_download' image.id %}?format=tif"
                      {% endif %}
                      title="Download as TIFF"
                  {% endif %}
                  >
                  Export as TIFF
                </a>
              </li>
              {% endwith %}
              {% endif %}
            {% else %}
              {% if filesetInfo %}
              {% with ex=canExportAsJpg %}
              <li {% if not ex %}class="disabled"{% endif %}>
                <a href="#"
	                  {% if not ex %}
	                      class="disabled" title="Images are too big to download as JPEGs"
	                  {% else %}
	                      data-popup-url="{% url 'download_placeholder' %}?ids={{ link_string }}&format=jpeg&index={{ index }}"
	                      title="Download as JPEGs (zip)"
	                  {% endif %}
	                  >
                  Export as JPEG
                </a>
              </li>
              <li {% if not ex %}class="disabled"{% endif %}>
                <a href="#"
	                  {% if not ex %}
	                      class="disabled" title="Images are too big to download as PNGs"
	                  {% else %}
	                      data-popup-url="{% url 'download_placeholder' %}?ids={{ link_string }}&format=png&index={{ index }}"
	                      title="Download as PNGs (zip)"
	                  {% endif %}
	                  >
                  Export as PNG
                </a>
              </li>
              <li {% if not ex %}class="disabled"{% endif %}>
                <a href="#"
	                  {% if not ex %}
	                      class="disabled" title="Images are too big to download as TIFFs"
	                  {% else %}
	                      data-popup-url="{% url 'download_placeholder' %}?ids={{ link_string }}&format=tif&index={{ index }}"
	                      title="Download as TIFFs (zip)"
	                  {% endif %}
	                  >
                  Export as TIFF
                </a>
              </li>
              {% endwith %}
              {% endif %}
            {% endif %}
        </ul>
    </div>

    {% if not share %}
    {% if image.showOriginalFilePaths %}
      <button id="show_fs_files_btn" class="btn silver btn_fspath" title="Show Fileset ID and file paths on server">
        <span></span>
      </button>
    {% endif %}

      {% if image %}
      <button id="show_image_hierarchy" class="btn silver btn_hierarchy" title="Show parent Projects & Datasets">
        <span></span>
      </button>
      {% endif %}
    {% endif %}
    {% endif %}


    {% if not share %}
    {% if not differentGroups and ome.can_create %}
    {% include "webclient/annotations/includes/figure_scripts_menu.html" %}
    {% endif %}
    {% endif %}
    


    <div style="position: absolute; left: 0">
      {% if image %}
      <a class="btn silver btn_text" style="height: 18px"
              id="open_full_viewer" target="_blank"
              {% if share and not share.share.isOwned %}
                  href="{% url 'web_image_viewer' share.share.id image.id %}"
              {% else %}
                  href="{% url 'web_image_viewer' image.id %}"
              {% endif %}
              title="Open full image viewer in new tab">
          <span>
              Full viewer
          </span>
      </a>
      {% endif %}


      <div class="toolbar_dropdown">
          {% if not share %}
          <button id="show_openwith_menu" class="btn silver btn_openwith" title="Open with..." style="height: 20px">
              <span></span>
          </button>
          <ul id="right_panel_openwith" class="dropdown dropdown_right">
          </ul>
          {% endif %}
      </div>
  </div>

</div>
<div style="clear:both"></div>


<div id="toolbar_info_panel" style="display:none; background: #fff; border: solid 1px #ddd; margin:5px 0">
    <img title="Close" src="{% static 'webgateway/img/close.gif' %}" style="float:right; margin:3px"/>
    <div class="panel_title" style="margin: 4px">
    </div>
    <div class="panel_div"></div>
    <div style="clear:both"></div>
</div>
