# Database passwords
#
# Main OMERO PostgreSQL (service: database)
#------------------------------------------
OMERO_DB_PASS=ShR3K413CPh0Q2r
#
# Plugin PostgreSQL (service: database_plugin)
# --------------------------------------------
OMP_PLUGIN_DB_PASS=VhVFL62ziQFo710
OMP_DATA_PASS=VhVFL62ziQFo710
#
# OMERO root user password
# ------------------------
ROOTPASS=CsCN581JzgGsdyV
#
# Job service user password
# -------------------------
OMERO_JOB_SERVICE_PASS=d8SvmBQ34f08xYv
OMERO_WEB_JOB_SERVICE_PASS=d8SvmBQ34f08xYv
#
# Plugin hashes
# -------------
OMP_HASH_SECRET=8Fo8bCKntvhy8VJ46N0N3dvFe37nNY
FMP_HASH_SECRET=8Fo8bCKntvhy8VJ46N0N3dvFe37nNY
#
# Grafana admin password
# ----------------------
GF_SECURITY_ADMIN_PASSWORD=xOgchs9UAb32J8TuvsQP
